/* You can add global styles to this file, and also import other style files */

.c-full-width {
	width: 100%;
}

.c-no-left-padding {
	padding-left: 0;
}

.c-no-right-padding {
	padding-right: 0;
}

.c-search-table-action-column {
	width: 7%;
}

.c-search-table-action-column-view-edit-button-wrapper {
	padding-right: 1px;
}

.c-search-table-action-column-delete-button-wrapper {
	padding-left: 1px;
}

.c-form-dialog {
	width: 600px;
}