<div class="ui-g">
	<p-toolbar class="ui-g-12  ui-g-nopad">
		<div class="ui-toolbar-group-left">
			<input pInputText type="number" #idField [placeholder]="getMessage('ID')"/>
			<input pInputText #usernameField [placeholder]="getMessage('USERNAME')"/>
			<input pInputText #emailField [placeholder]="getMessage('EMAIL')"/>
			<input pInputText #nameField [placeholder]="getMessage('NAME')"/>
			<p-dropdown #statusBox [placeholder]="getMessage('STATUS')" [options]="statuses"></p-dropdown>
			<p-dropdown #languageBox [placeholder]="getMessage('LANGUAGE')" [options]="languages"></p-dropdown>
			<p-dropdown #userGroupBox [placeholder]="getMessage('USER_GROUP')" [options]="userGroups"></p-dropdown>
		</div>

		<div class="ui-toolbar-group-right">
			<button pButton [label]="getMessage('CLEAR')" [icon]="searchFilterClearButtonIcon"
							(click)="resetFilter(idField, usernameField, emailField, nameField, statusBox, languageBox, userGroupBox); getList()"></button>
			<button pButton [label]="getMessage('SEARCH')" [icon]="searchFilterSearchButtonIcon"
							(click)="initFilter(idField.value, usernameField.value, emailField.value, nameField.value, statusBox.value, languageBox.value, userGroupBox.value); getList()"></button>
		</div>
	</p-toolbar>

	<div class="ui-g-12 ui-g-nopad">
		<p-dataTable [value]="entities" [immutable]="false" [lazy]="true" [paginator]="true" [totalRecords]="tableTotalRecords" [rows]="searchTableRows" [pageLinks]="searchTablePageLinks"
								 [loading]="loading"
								 (onLazyLoad)="initLazyFilter($event, idField.value, usernameField.value, emailField.value, nameField.value, statusBox.value, languageBox.value, userGroupBox.value);
								 getList()">
			<p-column field="id" [header]="getMessage('ID')"></p-column>
			<p-column field="username" [header]="getMessage('USERNAME')"></p-column>
			<p-column field="email" [header]="getMessage('EMAIL')"></p-column>
			<p-column field="name" [header]="getMessage('NAME')"></p-column>
			<p-column field="status" [header]="getMessage('STATUS')"></p-column>
			<p-column field="language" [header]="getMessage('LANGUAGE')"></p-column>
			<p-column field="userGroup.name" [header]="getMessage('USER_GROUP')"></p-column>

			<p-column [styleClass]="searchTableActionColumnClass">
				<ng-template pTemplate="header">
					<button pButton [label]="getMessage('ADD')" [icon]="searchTableActionColumnAddButtonIcon" [class]="searchTableActionColumnButtonClass"
									(click)="updateDialogStates(true, false, false); initAdd()" *ngIf="hasPermission('USER.ADD')"></button>
				</ng-template>
				<ng-template pTemplate="body" let-entity="rowData">
					<div class="ui-g">
						<div class="ui-g-nopad {{hasPermission('USER.DELETE') ? searchTableActionColumnViewEditButtonWrapperClass : ''}}" [class.ui-g-12]="!hasPermission('USER.DELETE')"
								 [class.ui-g-6]="hasPermission('USER.DELETE')">
							<button pButton [title]="getMessage('EDIT')" [icon]="searchTableActionColumnEditButtonIcon" [class]="searchTableActionColumnButtonClass"
											(click)="updateDialogStates(false, true, false); get(entity)" *ngIf="hasPermission('USER.EDIT')"></button>
							<button pButton [title]="getMessage('VIEW')" [icon]="searchTableActionColumnViewButtonIcon" [class]="searchTableActionColumnButtonClass"
											(click)="updateDialogStates(false, false, true); get(entity)" *ngIf="!hasPermission('USER.EDIT')"></button>
						</div>
						<div class="ui-g-6 ui-g-nopad {{searchTableActionColumnDeleteButtonWrapperClass}}" *ngIf="hasPermission('USER.DELETE')">
							<button pButton [title]="getMessage('DELETE')" [icon]="searchTableActionColumnDeleteButtonIcon" [class]="searchTableActionColumnButtonClass"
											(click)="confirmDeleteAction(entity)"></button>
						</div>
					</div>
				</ng-template>
			</p-column>

			<p-footer>{{getMessage('SEARCH_TABLE_FOOTER', tableTotalRecords)}}</p-footer>
		</p-dataTable>
	</div>
</div>

<p-dialog header="{{isAdd ? getMessage('ADD') : isEdit ? getMessage('EDIT') : getMessage('VIEW')}}" [(visible)]="showDialog" [modal]="true" [styleClass]="formDialogClass"
					[contentStyle]="formDialogContentStyle">
	<div class="ui-g">
		<div class="ui-g-6">
			{{getMessage('USERNAME')}}
		</div>
		<div class="ui-g-6">
			<input pInputText [(ngModel)]="entity.username" [class]="formComponentClass" [disabled]="isView || isEdit">
		</div>
		<div class="ui-g-6">
			{{getMessage('EMAIL')}}
		</div>
		<div class="ui-g-6">
			<input pInputText [(ngModel)]="entity.email" [class]="formComponentClass" [disabled]="isView">
		</div>
		<div class="ui-g-6">
			{{getMessage('NAME')}}
		</div>
		<div class="ui-g-6">
			<input pInputText [(ngModel)]="entity.name" [class]="formComponentClass" [disabled]="isView">
		</div>
		<div class="ui-g-6">
			{{getMessage('STATUS')}}
		</div>
		<div class="ui-g-6">
			<p-dropdown [placeholder]="getMessage('STATUS')" [options]="statuses" [(ngModel)]="entity.status" [autoWidth]="false" [styleClass]="formComponentClass"
									[disabled]="isView"></p-dropdown>
		</div>
		<div class="ui-g-6">
			{{getMessage('LANGUAGE')}}
		</div>
		<div class="ui-g-6">
			<p-dropdown [placeholder]="getMessage('LANGUAGE')" [options]="languages" [(ngModel)]="entity.language" [autoWidth]="false" [styleClass]="formComponentClass"
									[disabled]="isView"></p-dropdown>
		</div>
		<div class="ui-g-6">
			{{getMessage('USER_GROUP')}}
		</div>
		<div class="ui-g-6">
			<p-dropdown [placeholder]="getMessage('USER_GROUP')" [options]="userGroups" [(ngModel)]="entity.userGroup" [autoWidth]="false"
									[styleClass]="formComponentClass" [disabled]="isView"></p-dropdown>
		</div>
	</div>

	<p-footer>
		<button pButton [label]="getMessage('RESET_PASSWORD')" icon="fa-retweet" (click)="resetPassword(); hideDialog()" *ngIf="isEdit && hasPermission('USER.RESET_PASSWORD')"></button>
		<button pButton [label]="getMessage('SAVE')" [icon]="formSaveButtonIcon" (click)="save()" *ngIf="!isView"></button>
		<button pButton [label]="getMessage('CANCEL')" [icon]="formCancelButtonIcon" (click)="hideDialog()"></button>
	</p-footer>
</p-dialog>