<div class="ui-g">
	<div class="ui-g-1 {{searchFilterFieldWrapperClass}}">
		<input pInputText #idField [placeholder]="getMessage('ID')" [class]="searchFilterComponentClass"/>
	</div>
	<div class="ui-g-1 {{searchFilterFieldWrapperClass}}">
		<input pInputText #usernameField [placeholder]="getMessage('USERNAME_SHORT')" [class]="searchFilterComponentClass"/>
	</div>
	<div class="ui-g-1 {{searchFilterFieldWrapperClass}}">
		<input pInputText #nameField [placeholder]="getMessage('NAME')" [class]="searchFilterComponentClass"/>
	</div>

	<div class="ui-g-7"></div>

	<div class="ui-g-1 {{searchFilterButtonWrapperClass}}">
		<button pButton [label]="getMessage('CLEAR')" [icon]="searchFilterClearButtonIcon" [class]="searchFilterComponentClass" (click)="table.reset(); clearFilter()"></button>
	</div>
	<div class="ui-g-1 {{searchFilterButtonWrapperClass}}">
		<button pButton [label]="getMessage('SEARCH')" [icon]="searchFilterSearchButtonIcon" [class]="searchFilterComponentClass"
						(click)="initFilter(idField.value, usernameField.value, nameField.value)"></button>
	</div>

	<div class="ui-g-12 ui-g-nopad">
		<p-dataTable #table [value]="users" [lazy]="true" [paginator]="true" [totalRecords]="tableTotalRecords" [rows]="searchTableRows" [pageLinks]="searchTablePageLinks"
								 [loading]="tableLoading" [loadingIcon]="searchTableLoadingIcon" (onLazyLoad)="initLazyFilter($event)">
			<p-column field="id" [header]="getMessage('ID')" [filter]="true" [filterPlaceholder]="getMessage('ID')" filterMatchMode="contains"></p-column>
			<p-column field="username" [header]="getMessage('USERNAME')" [filter]="true" [filterPlaceholder]="getMessage('USERNAME')" filterMatchMode="contains"></p-column>
			<p-column field="name" [header]="getMessage('NAME')" [filter]="true" [filterPlaceholder]="getMessage('NAME')" filterMatchMode="contains"></p-column>

			<p-column [styleClass]="searchTableActionColumnClass">
				<ng-template pTemplate="header">
					<button pButton [label]="getMessage('ADD')" [icon]="searchTableActionColumnAddButtonIcon" [class]="searchTableActionColumnAddButtonClass" (click)="add()"
									*ngIf="hasPermission('USER.ADD')"></button>
				</ng-template>
				<ng-template pTemplate="body" let-user="rowData">
					<div class="ui-g">
						<div class="ui-g-6 ui-g-nopad {{searchTableActionColumnViewEditButtonWrapperClass}}">
							<button pButton [title]="getMessage('VIEW')" [icon]="searchTableActionColumnViewButtonIcon" [class]="searchTableActionColumnViewButtonClass" (click)="get(user)"
											*ngIf="!hasPermission('USER.EDIT')"></button>
							<button pButton [title]="getMessage('EDIT')" [icon]="searchTableActionColumnEditButtonIcon" [class]="searchTableActionColumnEditButtonClass" (click)="get(user)"
											*ngIf="hasPermission('USER.EDIT')"></button>
						</div>
						<div class="ui-g-6 ui-g-nopad {{searchTableActionColumnDeleteButtonWrapperClass}}">
							<button pButton [title]="getMessage('DELETE')" [icon]="searchTableActionColumnDeleteButtonIcon" [class]="searchTableActionColumnDeleteButtonClass" (click)="delete(user)"
											*ngIf="hasPermission('USER.DELETE')"></button>
						</div>
					</div>
				</ng-template>
			</p-column>

			<p-footer>{{getMessage('SEARCH_TABLE_FOOTER', tableTotalRecords)}}</p-footer>
		</p-dataTable>
	</div>
</div>

<p-dialog header="Edit user" [(visible)]="showUserDialog">
	<table>
		<tr>
			<td>
				Username
			</td>
			<td>
				<input pInputText [(ngModel)]="selectedUser.username">
			</td>

		</tr>
		<tr>
			<td>
				Name
			</td>
			<td>
				<input pInputText [(ngModel)]="selectedUser.name">
			</td>
		</tr>
	</table>

	<p-footer>
		<div>
			<button type="button" pButton icon="fa-close" (click)="showUserDialog=false" label="No"></button>
			<button type="button" pButton icon="fa-check" (click)="showUserDialog=false" label="Yes"></button>
		</div>
	</p-footer>
</p-dialog>