<div class="ui-g">
	<div class="ui-g-1">
		<input #idField pInputText placeholder="Id" i18n-placeholder="@@id" class="c-search-filter-component"/>
	</div>
	<div class="ui-g-1 c-search-filter-component-wrapper">
		<input #usernameField pInputText placeholder="Username" i18n-placeholder="@@username" class="c-search-filter-component"/>
	</div>
	<div class="ui-g-1 c-search-filter-component-wrapper">
		<input #nameField pInputText placeholder="Name" i18n-placeholder="@@name" class="c-search-filter-component"/>
	</div>

	<div class="ui-g-7"></div>

	<div class="ui-g-1 c-search-filter-component-wrapper">
		<button pButton type="button" label="Clear" i18n-label="@@clear" icon="fa-minus" (click)="table.reset(); clearFilter()" class="c-search-filter-component"></button>
	</div>
	<div class="ui-g-1 c-search-filter-component-wrapper">
		<button pButton type="button" label="Search" i18n-label="@@search" icon="fa-search"
						(click)="initFilter(idField.value, usernameField.value, nameField.value)" class="c-search-filter-component"></button>
	</div>

	<div class="ui-g-12 c-search-table">
		<p-dataTable #table [value]="users" [paginator]="true" [totalRecords]="tableTotalRecords" [rows]="tableRows" [pageLinks]="tablePageLinks"
								 [lazy]="true" (onLazyLoad)="initLazyFilter($event)" [loading]="tableLoading" [loadingIcon]="tableLoadingIcon">
			<p-column field="id" header="Id" i18n-header="@@id" [filter]="true" filterPlaceholder="Id" i18n-filterPlaceholder="@@id" filterMatchMode="contains"></p-column>
			<p-column field="username" header="Username" i18n-header="@@username" [filter]="true" filterPlaceholder="Username" i18n-filterPlaceholder="@@username"
								filterMatchMode="contains"></p-column>
			<p-column field="name" header="Name" i18n-header="@@name" [filter]="true" filterPlaceholder="Name" i18n-filterPlaceholder="@@name" filterMatchMode="contains"></p-column>

			<p-column styleClass="c-search-table-action-column">
				<ng-template pTemplate="header">
					<button pButton type="button" label="Add" i18n-label="@@add" icon="fa-plus" (click)="add()" *ngIf="hasPermission('USER.EDIT')"></button>
				</ng-template>
				<ng-template let-col let-user="rowData" pTemplate="body">
					<button pButton type="button" title="Edit" i18n-title="@@edit" icon="fa-pencil" (click)="get(user)"></button>
				</ng-template>
			</p-column>

			<p-footer i18n="@@tableFooter">{{tableTotalRecords}} records found</p-footer>
		</p-dataTable>
	</div>
</div>

<p-dialog header="Edit user" [(visible)]="showUserDialog">
	<table>
		<tr>
			<td>
				Username
			</td>
			<td>
				<input pInputText [(ngModel)]="selectedUser.username">
			</td>

		</tr>
		<tr>
			<td>
				Name
			</td>
			<td>
				<input pInputText [(ngModel)]="selectedUser.name">
			</td>
		</tr>
	</table>

	<p-footer>
		<div>
			<button type="button" pButton icon="fa-close" (click)="showUserDialog=false" label="No"></button>
			<button type="button" pButton icon="fa-check" (click)="showUserDialog=false" label="Yes"></button>
		</div>
	</p-footer>
</p-dialog>