// Global variable overrides. Must be declared before importing Valo.
// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;
// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;
// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;
// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;
// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;
// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/wiki/-/wiki/Main/Valo+Examples
@import "../valo/valo.scss";

@mixin app {

  @include valo;

  .fullWidth {
    width: 100%;
  }

  .rightAlignment {
    float: right;
  }

  .noBorder {
	border: none;
  }

  .errorImage {
    color: red;
  }

  .profileNameLabel {
    word-spacing: 30px;
    color: #0b559e;
  }

  .auditorium-add .v-select-select {
    width: 185px;
  }

  .auditorium-add .v-textfield {
    width: 185px !important;
  }

  .auditorium-add button {
    visibility: hidden;
  }

  .listselect-button {
    width: 92px;
  }

  .customTwinColSelect {
    min-width: 700px;
  }

  .customTwinColSelect .v-select-twincol-options {
    width: 45% !important;
  }

  .customTwinColSelect .v-select-twincol-buttons {
    width: 10% !important;
  }

  .customTwinColSelect .v-select-twincol-selections {
    width: 45% !important;
  }

  .accordionButton {
    float: right;
    border: 0;
    height: 36px;
    background: transparent;
  }

  .customAccordion .v-caption {
    padding: 0 0 0 12px;
    width: 700px;
  }

  .customAccordion .v-accordion-item {
    width:100% !important;
  }

  .v-datefield-popup {
	width: 250px;
  }
}