@import "addons.scss";
@import "app.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in app.scss */
.app {
	@include addons;
	@include app;
}