<div class="ui-g">
	<p-toolbar class="ui-g-12  ui-g-nopad">
		<div class="ui-toolbar-group-left">
			<input pInputText type="number" #idField [placeholder]="getMessage('ID')"/>
			<input pInputText #nameField [placeholder]="getMessage('NAME')"/>
		</div>

		<div class="ui-toolbar-group-right">
			<button pButton [label]="getMessage('CLEAR')" [icon]="searchFilterClearButtonIcon" (click)="resetFilter(idField, nameField); getList()"></button>
			<button pButton [label]="getMessage('SEARCH')" [icon]="searchFilterSearchButtonIcon" (click)="initFilter(idField.value, nameField.value); getList()"></button>
		</div>
	</p-toolbar>

	<div class="ui-g-12 ui-g-nopad">
		<p-dataTable [value]="entities" [immutable]="false" [lazy]="true" [paginator]="true" [totalRecords]="tableTotalRecords" [rows]="searchTableRows" [pageLinks]="searchTablePageLinks"
								 [loading]="loading" (onLazyLoad)="initTableFilter($event, idField.value, nameField.value); getList()">
			<p-column field="id" [header]="getMessage('ID')"></p-column>
			<p-column field="name" [header]="getMessage('NAME')"></p-column>

			<p-column [styleClass]="searchTableActionColumnClass">
				<ng-template pTemplate="header">
					<button pButton [label]="getMessage('ADD')" [icon]="searchTableActionColumnAddButtonIcon" [class]="searchTableActionColumnButtonClass"
									(click)="updateDialogStates(true, false, false); initAdd()" *ngIf="hasPermission('USER_GROUP.ADD')"></button>
				</ng-template>
				<ng-template pTemplate="body" let-entity="rowData">
					<div class="ui-g">
						<div class="ui-g-nopad {{hasPermission('USER_GROUP.DELETE') ? searchTableActionColumnViewEditButtonWrapperClass : ''}}"
								 [class.ui-g-12]="!hasPermission('USER_GROUP.DELETE')" [class.ui-g-6]="hasPermission('USER_GROUP.DELETE')">
							<button pButton [title]="getMessage('EDIT')" [icon]="searchTableActionColumnEditButtonIcon" [class]="searchTableActionColumnButtonClass"
											(click)="updateDialogStates(false, true, false); get(entity)" *ngIf="hasPermission('USER_GROUP.EDIT')"></button>
							<button pButton [title]="getMessage('VIEW')" [icon]="searchTableActionColumnViewButtonIcon" [class]="searchTableActionColumnButtonClass"
											(click)="updateDialogStates(false, false, true); get(entity)" *ngIf="!hasPermission('USER_GROUP.EDIT')"></button>
						</div>
						<div class="ui-g-6 ui-g-nopad {{searchTableActionColumnDeleteButtonWrapperClass}}" *ngIf="hasPermission('USER_GROUP.DELETE')">
							<button pButton [title]="getMessage('DELETE')" [icon]="searchTableActionColumnDeleteButtonIcon" [class]="searchTableActionColumnButtonClass"
											(click)="confirmDeleteAction(entity)"></button>
						</div>
					</div>
				</ng-template>
			</p-column>

			<p-footer>{{getMessage('SEARCH_TABLE_FOOTER', tableTotalRecords)}}</p-footer>
		</p-dataTable>
	</div>
</div>

<p-dialog header="{{isAdd ? getMessage('ADD') : isEdit ? getMessage('EDIT') : getMessage('VIEW')}}" [(visible)]="showDialog" [modal]="true" [styleClass]="formDialogClass"
					[contentStyle]="formDialogContentStyle">
	<div class="ui-g">
		<div class="ui-g-6">
			{{getMessage('NAME')}}
		</div>
		<div class="ui-g-6">
			<p-dropdown [placeholder]="getMessage('NAME')" [options]="texts" [(ngModel)]="entity.name" [autoWidth]="false" [styleClass]="formComponentClass"
									[disabled]="isView"></p-dropdown>
		</div>
		<div class="ui-g-6">
			{{getMessage('PERMISSIONS')}}
		</div>
		<div class="ui-g-6">
			<p-tree [value]="permissions" selectionMode="checkbox" [(selection)]="selectedPermissions" [styleClass]="formComponentClass"></p-tree>
		</div>
	</div>

	<p-footer>
		<button pButton [label]="getMessage('SAVE')" [icon]="formSaveButtonIcon" (click)="save()" *ngIf="!isView"></button>
		<button pButton [label]="getMessage('CANCEL')" [icon]="formCancelButtonIcon" (click)="hideDialog()"></button>
	</p-footer>
</p-dialog>