<nav>
	<ul class="nav nav-tabs">
		<li><a data-toggle="tab" href="#menu1" routerLink="login" routerLinkActive="active">Login</a></li>
		<li><a data-toggle="tab" href="#menu1" routerLink="homepage" routerLinkActive="active">Homepage</a></li>
		<li><a data-toggle="tab" href="#menu1" routerLink="dashboard" routerLinkActive="active">Dashboard</a></li>
		<li><a data-toggle="tab" href="#menu1" routerLink="heroes" routerLinkActive="active">Heroes</a></li>
		<li><a data-toggle="tab" href="#menu1" routerLink="users" routerLinkActive="active">Users</a></li>
	</ul>
</nav>
<router-outlet></router-outlet>