<!--<div class="jumbotron">-->
<!--<div class="container">-->
<!--<div class="col-sm-8 col-sm-offset-2">-->
<!--<alert></alert>-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<app-todo-list-header (add)="onAddTodo($event)"></app-todo-list-header>-->
<!--<app-todo-list [todos]="todos" (toggleComplete)="onToggleTodoComplete($event)" (remove)="onRemoveTodo($event)"></app-todo-list>-->
<!--<app-todo-list-footer [todos]="todos"></app-todo-list-footer>-->

<h1>{{title}}</h1>
<nav>
	<a routerLink="login" routerLinkActive="active">Login</a>
	<a routerLink="homepage" routerLinkActive="active">Homepage</a>
	<a routerLink="dashboard" routerLinkActive="active">Dashboard</a>
	<a routerLink="heroes" routerLinkActive="active">Heroes</a>
</nav>
<router-outlet></router-outlet>